# Python bytecode
*.py[cod]
__pycache__/

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node.js modules and logs
node_modules/
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Build output
dist/
dist-ssr/
*.local

# Cache directories
server/var/cache/
server/__pycache__/
server/app/**/__pycache__/
server/tests/**/__pycache__/
server/var/cache/
server/userbot.session

/server/app/cli/metadata.pkl
/server/tests/functional/gripsbox/test_file.txt
/server/app/cli/embeddings.pkl
/server/app/cli/dokumente_index.faiss
