## Startupscripts
ANACONDA_ENV_NAME=hudini

SERVER_URL=http://localhost:80
CLIENT_URL=http://localhost:5173
PROJECT_MODEL_PATH=C:\\projects\\llama.cpp\\models\\custom\

PROJEKT_ROOT=C:\projects\llama.cpp\projects\src\llama-cpp-chat\src
API_KEY_OPEN_AI=
API_KEY_ANTHROPIC=
API_KEY_GOOGLE_AI=
APP_ACTIVE_PROVIDER=OPEN_AI
APP_GOOGLE_CLOUD_API_KEY=
APP_GOOGLE_AUTH_CLIENT_ID=
APP_GOOGLE_AUTH_CLIENT_SECRET=
APP_GOOGLE_AUTH_REDIRECT_URI=http://localhost/auth/google/callback
PROJECT_FRONTEND_DIRECTORY=C:\\projects\\llama.cpp\\projects\\src\\llama-cpp-chat\\src\\frontend\
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost/hudini
DATABASE_URL_SYNC=postgresql+psycopg2://postgres:postgres@localhost/hudini
APP_TIMEZONE=Europe/Berlin
APP_DEBUG=False
APP_ENV=development
APP_Testing=False
APP_LOG_LEVEL=DEBUG
APP_PROJECT_NAME=HUDINI
APP_CORS_ORIGIN=http://localhost:5173,https://editor.swagger.io
APP_CACHE=C:\projects\hudini\server\var\cache
APP_STORAGE=C:\projects\hudini\server\storage
DB_SQL_ECHO=False
DB_POOL_SIZE=20
DB_MAX_OVERFLOW=5
DB_POOL_TIMEOUT=30
DB_POOL_RECYCLE=1800
DB_USE_NULL_POOL=False
SOCIALMEDIA_USER='[{
  "provider": "telegram",
  "api_id": "23915104",
  "displayname": "hudini",
  "api_hash": "27d31995404dbf92431e72e324320cd9",
  "phone_number": "+19412822615",
  "password": "8300",
  "groups": [
      "@hudinitests"
    ]
}]'

ALLOWED_FILE_EXTENSIONS=[".pdf",".txt",".md",".csv",".tsv",".json",".xml",".yaml",".yml",".html",".htm",".rtf",".log",".ini",".cfg",".properties",".sql",".js",".py",".cs",".java",".cpp",".h",".rb",".php",".go",".ts",".swift",".kt",".rs",".sh",".pl"]