pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
    background-color: #2f2f2f !important;

}
code.hljs {
    padding: 3px 5px

}
/*

Brown Paper style from goldblog.com.ua (c) Zaripov Yura <yur4ik7@ukr.net>

*/
.hljs {
    color: #ffffff;

}

.hljs-attr {
    color: #d660f6;

}

.hljs-doctag {
    color: #707070;

}

.hljs-subst {
    color: #9ab571;

}
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal {
    color: #ff850c;
    font-weight: bold
}
.hljs-subst {


}



.hljs-string,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-attribute,
.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable,
.hljs-link,
.hljs-name {
    color: #ffa4a4
}

.hljs-title {
    color: #cacaca
}
.hljs-string {
    color: #629e49
}


.hljs-variable{
    color: #d15cb3;
}
.hljs-type{
      color: #d15cb3;
}
.hljs-comment,
.hljs-quote,
.hljs-meta,
.hljs-deletion {
    color: #979797
}

/*.hljs-subst {*/
/*    color: #a50e0e*/
/*}*/


.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-doctag,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-name,
.hljs-strong {
    font-weight: bold;

}
.hljs-emphasis {
    font-style: italic
}


.hljs-params{
    color: #cacaca;
}
